@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
input{
    background-color: inherit;
}
